@import 'src/variables';

header {
    background-color: $accent;
    opacity: 0.7;
    color: #ffffff;
    border-radius: 50%;
}

.post-list {

    .post-card {
        background-color: #ffffff;
    }

    h5 {
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }

    .sub-title {
        color: $accent;
    }
}

.btn:focus {
    outline: 0;
    box-shadow: none;
}

.btn-link:focus {
    text-decoration: none;
    color: #0056b3;
}

span[id^="bodyEnd"] {
    display: none;
}

button[id^="commentBtn"],
button[id^="saveCommentBtn"] {
    display: none;
}

section[id^="comment"] {
    box-shadow: 2px 2px 5px;
}

.clear-right {
    clear: right;
}

input,
textarea {
    margin: 0.5rem auto;
}

textarea {
    display: none;
}

#backdrop.modal-backdrop {
    display: none;
}